In [1]:
import pandas as pd

In [8]:
mydata=pd.read_csv(r"C:\Users\dell\Desktop\ML\DataSets-master\Titanic_Data.csv",index_col="PassengerId")

In [9]:
mydata.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [12]:
titanic_data=mydata[['Pclass','Sex','Age','SibSp','Parch','Fare','Survived']]

In [13]:
titanic_data.head(1)

             Pclass   Sex   Age  SibSp  Parch  Fare  Survived
PassengerId
1                 3  male  22.0      1      0  7.25         0

In [14]:
titanic_data["Sex"]=titanic_data["Sex"].map({"male":0,"female":1})

C:\Users\dell\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [15]:
titanic_data.describe()

,Pclass,Sex,Age,SibSp,Parch,Fare,Survived
count,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000,891.000000
mean,2.308642,0.352413,29.699118,0.523008,0.381594,32.204208,0.383838
std,0.836071,0.477990,14.526497,1.102743,0.806057,49.693429,0.486592
min,1.000000,0.000000,0.420000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,0.000000,20.125000,0.000000,0.000000,7.910400,0.000000
50%,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,0.000000
75%,3.000000,1.000000,38.000000,1.000000,0.000000,31.000000,1.000000
max,3.000000,1.000000,80.000000,8.000000,6.000000,512.329200,1.000000

In [16]:
titanic_data.dropna(inplace=True)

C:\Users\dell\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [17]:
titanic_data.describe()

,Pclass,Sex,Age,SibSp,Parch,Fare,Survived
count,714.000000,714.000000,714.000000,714.000000,714.000000,714.000000,714.000000
mean,2.236695,0.365546,29.699118,0.512605,0.431373,34.694514,0.406162
std,0.838250,0.481921,14.526497,0.929783,0.853289,52.918930,0.491460
min,1.000000,0.000000,0.420000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,20.125000,0.000000,0.000000,8.050000,0.000000
50%,2.000000,0.000000,28.000000,0.000000,0.000000,15.741700,0.000000
75%,3.000000,1.000000,38.000000,1.000000,1.000000,33.375000,1.000000
max,3.000000,1.000000,80.000000,5.000000,6.000000,512.329200,1.000000

In [19]:
x_feature=titanic_data.drop("Survived",axis=1)
y_target=titanic_data["Survived"]

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
x_train,x_test,y_train,y_test=train_test_split(x_feature,y_target,test_size=.3,random_state=101)

In [22]:
from sklearn.tree import DecisionTreeClassifier

In [23]:
trainer=DecisionTreeClassifier(criterion="entropy")

In [24]:
learner=trainer.fit(x_train,y_train)

In [25]:
from sklearn.metrics import accuracy_score

In [26]:
#xtest....y_test
ya=y_test
yp=learner.predict(x_test)
acc=accuracy_score(ya,yp)*100
acc

73.488372093023258

In [27]:
from sklearn import tree

In [29]:
import pydotplus 
from IPython.display import Image

ModuleNotFoundError: No module named 'pydotplus'