In [1]:
import pandas as pd

In [5]:
#series creation
a=pd.Series([11,22,33,44,55,66],index=["one","two","three","four","five","six"])

In [6]:
a

one      11
two      22
three    33
four     44
five     55
six      66
dtype: int64

In [7]:
a.ndim

1

In [8]:
a.shape

(6,)

In [9]:
a.values

array([11, 22, 33, 44, 55, 66], dtype=int64)

In [10]:
a.index

Index(['one', 'two', 'three', 'four', 'five', 'six'], dtype='object')

In [11]:
type(a)

pandas.core.series.Series

In [12]:
myd={"Name":["amit","rishabh"],"Age":[22,20]}

In [13]:
myd

{'Age': [22, 20], 'Name': ['amit', 'rishabh']}

In [16]:
mydataframe=pd.DataFrame(myd,index=["class1","class2"])

In [17]:
mydataframe

        Age     Name
class1   22     amit
class2   20  rishabh

In [18]:
type(mydataframe)

pandas.core.frame.DataFrame

In [20]:
mydataframe.keys()

Index(['Age', 'Name'], dtype='object')

In [21]:
mydataframe.values

array([[22, 'amit'],
       [20, 'rishabh']], dtype=object)

In [22]:
mydataframe.columns

Index(['Age', 'Name'], dtype='object')

In [23]:
mydataframe["Age"]

class1    22
class2    20
Name: Age, dtype: int64

In [24]:
mydataframe.Name

class1       amit
class2    rishabh
Name: Name, dtype: object